[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
sqlite = "pipenv run sqlite3_sheet.py"
postgres = "pipenv run psycopg2_sheet.py"
sqlalchemy = "pipenv run sqlalchemy_sheet.py"

[packages]
psycopg2 = "*"
pew = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
